.tag-1 {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    text-align: left;
    margin-top: 0px;
    padding-left: 6px;
}

.tag-2 {
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    text-align: left;
}

.tag-2 img {
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: text-bottom;
}

.tag-3 {
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    text-align: left;
    padding-left: 35px;
}

.tag-focus {
    background-color: rgba(167, 158, 141, 0.8);
    color: rgb(255, 255, 255);
}